@charset "utf-8";

$text-color: #eeeeee;
$site-title-color: $text-color;
$background-color: #111213;
$code-background-color: #212121;
$accent-color: #0ace97;
$button-color: $text-color;

$link-base-color: $accent-color;
$link-visited-color: $link-base-color;
$link-hover-color:  $link-base-color;

$table-text-color:      $text-color;
$table-zebra-color:     lighten($background-color, 4%);
$table-header-bg-color: lighten($background-color, 10%);
$table-header-border:   lighten($background-color, 21%);
$table-border-color:    $accent-color;

$base-font-family: "opensans", Arial, sans-serif;
$code-font-family: monospace;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$table-text-align: left;

$content-width: 1200px;
$dense-content-width: 800px;

$on-medium: 600px;
$on-large: 800px;