@font-face { font-family: 'geomanistregular'; src: url("/assets/fonts/geomanist-light-webfont.eot"); src: url("/assets/fonts/geomanist-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/geomanist-light-webfont.woff2") format("woff2"), url("/assets/fonts/geomanist-light-webfont.woff") format("woff"), url("/assets/fonts/geomanist-light-webfont.ttf") format("truetype"), url("/assets/fonts/geomanist-light-webfont.svg#geomanistregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'geomanistregular'; src: url("/assets/fonts/geomanist-bold-webfont.eot"); src: url("/assets/fonts/geomanist-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/geomanist-bold-webfont.woff2") format("woff2"), url("/assets/fonts/geomanist-bold-webfont.woff") format("woff"), url("/assets/fonts/geomanist-bold-webfont.ttf") format("truetype"), url("/assets/fonts/geomanist-bold-webfont.svg#geomanistregular") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'geomanistregular'; src: url("/assets/fonts/geomanist-medium-webfont.eot"); src: url("/assets/fonts/geomanist-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/geomanist-medium-webfont.woff2") format("woff2"), url("/assets/fonts/geomanist-medium-webfont.woff") format("woff"), url("/assets/fonts/geomanist-medium-webfont.ttf") format("truetype"), url("/assets/fonts/geomanist-medium-webfont.svg#geomanistregular") format("svg"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'opensans'; src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'opensans'; src: url("/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype"); font-weight: bold; font-style: italic; }

@font-face { font-family: 'opensans'; src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'opensans'; src: url("/assets/fonts/OpenSans-Italic.ttf") format("truetype"); font-weight: normal; font-style: italic; }

html { font-size: 18px; }

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 18px/1.5 "opensans", Arial, sans-serif; color: #eeeeee; background-color: #111213; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; overflow-wrap: break-word; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

hr { margin-top: 30px; margin-bottom: 30px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 15.75px; }

/** Lists */
ul, ol { margin-left: 30px; }

li::marker { color: #0ace97; }

li > ul, li > ol { margin-bottom: 0; }

/** Links */
a { color: #0ace97; text-decoration: none; }

a:visited { color: #0ace97; }

a:hover { color: #0ace97; text-decoration: underline; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-family: "geomanistregular", sans-serif; font-weight: bold; line-height: 1; }

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited { color: #eeeeee; }

h1 { margin-bottom: 25px; }

h2 { font-size: 2rem; }

/** Blockquotes */
blockquote { color: #0ace97; border-left: 4px solid #0ace97; padding-left: 15px; font-size: 1.125rem; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

blockquote i, blockquote em { font-style: normal; }

/** Code formatting */
pre, code { font-family: monospace; font-size: 0.9375em; border: 1px solid #0ace97; border-radius: 3px; background-color: #212121; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.highlight { border-radius: 3px; background: #212121; }

.highlighter-rouge .highlight { background: #212121; }

/** Wrapper */
.wrapper { max-width: calc(1200px - (30px)); margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }

@media screen and (min-width: 800px) { .wrapper { max-width: calc(1200px - (30px * 2)); padding-right: 30px; padding-left: 30px; } }

/** Clearfix */
.wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.orange { color: #f66a0a; }

.grey { color: #eee; }

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: currentColor; padding: 5px 3px 2px 5px; vertical-align: text-bottom; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #eeeeee; border-collapse: collapse; border: 1px solid #0ace97; }

table tr:nth-child(even) { background-color: #1b1c1e; }

table th, table td { padding: 10px 15px; }

table th { background-color: #292c2e; border: 1px solid #44484c; }

table td { border: 1px solid #0ace97; }

@media screen and (max-width: 800px) { table { display: block; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; } }

/** Page  */
.page-content { padding: 30px 0; flex: 1 0 auto; }

.dense-width { max-width: calc(800px - (30px)); }

/** Site header */
.site-header { padding-top: 30px; min-height: 90px; line-height: 60.75px; position: relative; }

.site-title { font-family: "geomanistregular", sans-serif; font-weight: normal; font-size: 1.25rem; letter-spacing: 2px; margin-bottom: 0; float: left; }

.site-title:hover { color: #0ace97 !important; text-decoration: none; }

.site-title, .site-title:visited { color: #eeeeee; }

.site-nav { position: absolute; top: 40px; right: 15px; background-color: #111213; border: none; border-radius: 5px; text-align: right; font-family: "geomanistregular", sans-serif; font-weight: 500; font-size: 1rem; letter-spacing: 1px; }

.site-nav a:hover { color: #0ace97; text-decoration: none; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }

.site-nav .menu-icon > svg path { fill: #0ace97; }

.site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }

.site-nav input ~ .trigger { clear: both; display: none; }

.site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }

.site-nav .page-link { color: #eeeeee; line-height: 1.5; display: block; padding: 5px 10px; margin-left: 20px; }

.site-nav .page-link:not(:last-child) { margin-right: 0; }

@media screen and (min-width: 600px) { .site-nav { position: static; float: right; border: none; background-color: inherit; } .site-nav label[for="nav-trigger"] { display: none; } .site-nav .menu-icon { display: none; } .site-nav input ~ .trigger { display: block; } .site-nav .page-link { display: inline; padding: 0; margin-left: auto; } .site-nav .page-link:not(:last-child) { margin-right: 20px; } }

/** Site footer */
.site-footer { border-top: 5px solid #0ace97; padding: 30px 0; }

.feed-subscribe .svg-icon { padding: 5px 5px 2px 0; }

.contact-list { list-style: none; margin-left: 0; }

footer { font-size: 0.9rem; }

/** Pagination navbar */
.pagination { margin-bottom: 30px; }

.pagination li a, .pagination li div { min-width: 41px; text-align: center; box-sizing: border-box; }

.pagination li div { display: block; padding: 7.5px; border: 1px solid transparent; }

.pagination li div.pager-edge { color: #0ace97; border: 1px dashed; }

/** Forms */
button, .button { background-color: #eeeeee; color: #363636; cursor: pointer; justify-content: center; padding-bottom: calc(0.5em - 1px); padding-left: 1em; padding-right: 1em; padding-top: calc(0.5em - 1px); text-align: center; white-space: nowrap; align-items: center; border: 1px dbdbdb solid transparent; border-radius: 0.375em; box-shadow: none; display: inline-flex; font-size: 1rem; height: 2.5em; line-height: 1.5; position: relative; vertical-align: top; }

button:hover, .button:hover { background: #bbbbbb; text-decoration: none; }

button.is-primary, .button.is-primary { background-color: #0ace97; border-color: transparent; color: #fff; font-weight: bold; }

button.is-primary:hover, .button.is-primary:hover { background: #089d73; text-decoration: none; }

/** Grid helpers */
.row { display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; gap: 20px; }

.column { display: flex; flex-direction: column; flex-basis: 100%; flex: 1; }

@media screen and (min-width: 800px) { .one-half { width: calc(50% - (30px / 2)); } }

@media (max-width: 600px) { .row { flex-direction: column; } }

/** Font helpers */
.font-semibold { font-family: "geomanistregular", sans-serif; font-weight: 500; }

.font-normal { font-family: "geomanistregular", sans-serif; font-weight: normal; }

.font-bold { font-family: "geomanistregular", sans-serif; font-weight: bold; }

/** Responsive Helpers */
@media (min-width: 600px) { .small-only { display: none; } }

@media (max-width: 600px) { .small-hidden { display: none; } }

/** Home */
.home-introduction h1 { font-size: 2.75rem; }

.home-introduction .button { margin-top: 30px; }

@media (min-width: 800px) { .home-introduction h1 { font-size: 3.75rem; margin-bottom: 60px; } .home-introduction .content { padding-top: 60px; } }

.home-services { margin-bottom: 100px; }

.home-services h2, .home-experience h2 { margin-bottom: 30px; }

.image-column img { display: block; margin: 0 auto; }

.grid { display: grid; grid-template-columns: repeat(2, 200px); justify-content: center; gap: 2rem 2rem; }

@media (max-width: 600px) { .grid { grid-template-columns: repeat(1, 250px); } }

.work-logo { display: flex; align-items: center; background-color: #0ace97; height: 200px; justify-content: center; border-radius: 5px; background: linear-gradient(334deg, #57b6c5 0%, #0ace97 100%); }

.work-logo:hover { opacity: 0.8; }

@media (max-width: 600px) { .work-logo { height: 120px; } }

.home-call-to-action { background: linear-gradient(160deg, #3fdbaf 0%, #0ace97 51%, #00efff 100%); margin-top: 50px; margin-bottom: -30px; padding: 50px 0; display: flex; justify-content: center; flex-direction: column; }

.home-call-to-action p { color: #111213; font-size: 1.25rem; display: flex; padding-bottom: 20px; }

.home-call-to-action .button { display: flex; color: #0ace97; background-color: #111213; border-color: #111213; }

.home-call-to-action .button:hover { color: #eeeeee; }

/** Portfolio */
.portfolio-content { max-width: 1400px; margin-right: auto; margin-left: auto; padding: 40px; }

.portfolio-grid { columns: 2 300px; column-gap: 2rem; }

.portfolio-grid figure { display: inline-block; }

/** Blog */
.post-link, .post-title, .page-heading { font-size: 3rem; }

.post-list .post-link { font-size: 2rem; }

.two-images img { max-height: 500px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 15.75px; }

.post-link { display: block; font-size: 1.5rem; }

/** Post */
.post-header { margin-bottom: 30px; }

.post-title, .post-content h1 { font-size: 2.625; letter-spacing: -1px; line-height: 1.15; }

.post-content { margin-bottom: 30px; }

.post-content h1, .post-content h2, .post-content h3 { margin-top: 60px; }

.post-content h4, .post-content h5, .post-content h6 { margin-top: 30px; }

.post-content h2 { font-size: 1.75rem; }

@media screen and (min-width: 800px) { .post-content h2 { font-size: 2rem; } }

.post-content h3 { font-size: 1.375rem; }

@media screen and (min-width: 800px) { .post-content h3 { font-size: 1.625rem; } }

/*# sourceMappingURL=style.css.map */