$text-color: #eeeeee;
$brand-color: $text-color;
$site-title-color: $text-color;
$background-color: #181a1b;
$link-base-color: $text-color;
$link-visited-color: $link-base-color;
$link-hover-color: $link-base-color;
$base-font-size: 18px;
