$text-color: #eeeeee;
$brand-color: $text-color;
$site-title-color: $text-color;
$background-color: #111213;
$accent-color: #0ace97;
$button-color: $text-color;
$link-base-color: $accent-color;
$link-visited-color: $link-base-color;
$link-hover-color:  $link-base-color;
$base-font-size: 18px;
